<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
{#<table width="300" border="1">#}
{#  <tr>#}
{#    <td>reply</td>#}
{#    <td><form id="form1" name="form1" method="post" action="/reply_worker_post">#}
{#      <textarea name="textarea"></textarea>#}
{#      </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td colspan="2"><form id="form2" name="form2" method="post" action="">#}
{#      <div align="center">#}
{#        <input type="submit" name="Submit" value="Submit" />#}
{#        </div>#}
{#    </form>    </td>#}
{#  </tr>#}
{#</table>#}

<form id="form1" name="form1" method="post" action="/reply_worker_post">
<table width="300" border="1">
  <tr>
    <td>Reply</td>
    <td>
      <textarea name="textarea"></textarea>
   </td>
  </tr>
  <tr>
    <td colspan="2">
      <div align="center">
        <input type="submit" name="Submit" value="Submit" required pattern="^[A-Za-z0-9\s.,!?'"()-]{1,300}$"/>
        </div>

    </td>
  </tr>
</table>

    </form>
</body>
</html>
