<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<p>&nbsp;</p>
<form id="form1" name="form1" method="post" action="">
  <table width="428" height="176" border="1">
    <tr>
      <td>Username</td>
      <td>Workname</td>
      <td>Details</td>
      <td>Date</td>
      <td>Time</td>
      <td>Price</td>
      <td>Action</td>
    </tr>
     {% for i in value %}
    <tr>
      <td>{{  i.user_id.name  }}</td>
      <td>{{ i.work_name }}</td>
      <td>{{ i.details }}&nbsp;</td>
      <td>{{ i.date }}</td>
      <td>{{ i.time }}</td>
       <td>{{ i.price}}</td>
        </td> <td><a href="/send_work_request/{{ i.id }}">send request</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
