<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="300" border="1">
  <tr>
    <td>username</td>
    <td>rating</td>
    <td>review</td>
    <td>date</td>
  </tr>

    {% for i in val %}

  <tr>

    <td>{{ i.user_id.name }}&nbsp;</td>
    <td>{{ i.rating }}&nbsp;</td>
    <td>{{ i.review }}&nbsp;</td>
    <td>{{ i.date }}&nbsp;</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
