<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="300" border="1">

    <tr>
      <td><a href="view_rating">view rating</a></td>
    </tr>
    <tr>
      <td><a href="manage_skill_worker">manage skill</a></td>
    </tr>
    <tr>
      <td><a href="view_skill_request">view skill request</a></td>
    </tr>

    <tr>
      <td><a href="send_feedback_worker">send feedback</a></td>
    </tr>
    <tr>
      <td><a href="chat_with_user">chat with user</a></td>
    </tr>
    <tr>
      <td><a href="view_payment">view payment</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="send_complaint">send complaint</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="view_complaint_worker">view complaint</a></td>
    </tr>
      <tr>
      <td><a href="view_workdetails">view work details</a></td>
      </tr>
       <tr>
      <td><a href="view_workrequest_status">view work request status</a></td>
    </tr>
       <tr>
      <td><a href="logout">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
