<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="300" border="1">
    <tr>
      <td>Workername</td>
      <td>Work name </td>
      <td>Request</td>
      <td>Date</td>
      <td>Action</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.from_request_work.name }}&nbsp;</td>
      <td>&nbsp;{{ i.work_request.work_name }}</td>
      <td>{{ i.status }}&nbsp;</td>
      <td>{{ i.date }}&nbsp;</td>
      <td><p><a href="/Accept/{{ i.id }}">Accept</a></p>
      <p><a href="/Reject/{{ i.id }}">Reject</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
