<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="300" border="1">
  <tr>
    <td>username</td>
    <td>complaint</td>
    <td>date</td>
    <td>Reply</td>
    <td>action</td>
  </tr>
    {% for i in value %}
  <tr>
    <td>{{i.user_id.name}}</td>
    <td>{{i.complaint}}</td>
    <td>&nbsp;{{i.date}}</td>
    <td> {{i.reply}}</td>
    <td><a href="/send_reply/{{ i.id }}">reply</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
